
div.calendar { position: relative; }

.calendar, .calendar table {
  border: 1px solid #655;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #F5E9F3;
  font-family: tahoma,verdana,sans-serif;
}


.calendar .button { 
  text-align: center;   
  padding: 2px;         
}

.calendar thead .title { 
  font-weight: bold;      
  text-align: center;
  background: #654;
  color: #fed;
  padding: 2px;
}

.calendar thead .headrow {
  background: #edc;
  color: #000;
}

.calendar thead .name { 
  border-bottom: 1px solid #655;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend {
  color: #f00;
}

.calendar thead .hilite { 
  background: #E1B7E7;
  color: #000;
  border: 1px solid #f40;
  padding: 1px;
}

.calendar thead .active { 
  background: #c77;
  padding: 2px 0px 0px 2px;
}

.calendar thead .daynames { 
  background: #fed;
}



.calendar tbody .day { 
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #fed;
}

.calendar tbody .rowhilite td {
  background: #ddf;
}

.calendar tbody .rowhilite td.wn {
  background: #efe;
}

.calendar tbody td.hilite { 
  background: #ffe;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { 
  background: #ddc;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { 
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fea;
}

.calendar tbody td.weekend { 
  color: #f00;
}

.calendar tbody td.today { font-weight: bold; }

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { 
  visibility: hidden;
}

.calendar tbody .emptyrow { 
  display: none;
}


.calendar tfoot .footrow { 
  text-align: center;
  background: #988;
  color: #000;
}

.calendar tfoot .ttip { 
  border-top: 1px solid #655;
  background: #dcb;
  color: #840;
}

.calendar tfoot .hilite { 
  background: #faa;
  border: 1px solid #f40;
  padding: 1px;
}

.calendar tfoot .active { 
  background: #c77;
  padding: 2px 0px 0px 2px;
}


.combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #ffe;
  color: #000;
  font-size: smaller;
}

.combo .label {
  width: 100%;
  text-align: center;
}

.combo .hilite {
  background: #fc8;
}

.combo .active {
  border-top: 1px solid #a64;
  border-bottom: 1px solid #a64;
  background: #fee;
  font-weight: bold;
}
